.font_1 {
	background-color: black;
	color: rgb(255, 255, 224);
	font-size: large;
	}
.font_2 {
	background-color: rgb(255, 255, 224) ;
	color: black ;
  text-shadow: 2px 2px red;
	fontsize: medium;
	}

p {
	color:green;
  text-align: right;
}
ul {
  list-style-type: square;
  }
table	{
	border: 2px solid black;
  }
td:hover {
	background-color: Blue ;
	color: black ;
  }
ul {
	border: 1px solid silver;
  text-shadow: gold 2px;
  }

tr, th {
	background-color:black;
	color:blck;
  }
tr, td {
	background-color: darkgreen;
	color:white;
  }
