

.font_1 {
	background-color: black;
	color: rgb(255, 255, 224);
	font-size: large;
	}
.font_2 {
	background-color: rgb(255, 255, 224) ;
	color: black ;
	fontsize: medium;
	}
	p {
	color:green;
  text-align: right;

}
table	{
	border: 1px solid black;
}
td:hover {
	background-color: Blue ;
	color: black ;
}
ul {
	border: 1px solid silver;
}
tr, th {
	background-color:yellow;
	color:blck;
}
tr, td {
	background-color: darkgreen;
	color:white;
}
